@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/

:root {
    --border-gradinet: radial-gradient(circle at top left, #73E0A9,#5B68DF);
    --border-bg: linear-gradient(to right, #1F1D2B,#1f2a27);

    --bg-gradient: linear-gradient(to right, #73E0A9, #5B68DF);

    --fontUbuntu: 'Ubuntu', sans-serif;
    --fontMontserrat: 'Monstserrat', sans-serif;
}
body {
    background: #1F1D2B;
}

.bg-header {
    background: rgba(31, 29, 43, 0.12);
    backdrop-filter: blur(22.5px);
}

.border-gradient {
    background-image: var(--border-bg)  ,var(--border-gradinet);
    background-clip: content-box,border-box;
    background-origin: border-box;
    border: double 1px transparent;
}

.input-bg {
    background: var(--border-bg);
    color: white;
    outline: none;
}

.bg-gradient {
    background: var(--bg-gradient);
}

.img-ball {
    background-image: url(./assets/ball.png), url(./assets/background.png);
    background-position: right top , top;
    background-repeat: no-repeat;
    background-size: 700px 800px, cover;
}


/* .img-ball-topcollec {
    background-image: url(./assets/background.png);
    background-size:;
    background-position: top;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    position:relative;
    overflow: hidden;

    transform: scaleX(-1);

}  */


.text-gradient {
    background: var(--bg-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hr-gradient {
    background: var(--bg-gradient);
    border: 0;
}

.grid-collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px,1fr));
 
    gap: 32px 0px;
}

.bg-create {
    background: rgba(31, 29, 43, 1);
    backdrop-filter: blur(200px);
}