@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/

:root {
    --bg: #1F1D2B;

    --border-gradinet: radial-gradient(circle at top left, #73E0A9,#5B68DF);
    --border-bg: linear-gradient(to right, #1F1D2B,#1f2a27);

    --bg-gradient: linear-gradient(to right, #73E0A9, #5B68DF);

    --fontUbuntu: 'Ubuntu', sans-serif;
    --fontMontserrat: 'Monstserrat', sans-serif;
}
body {
    background: #1F1D2B;
    /* background: #FFFFFF; */
}
.menu {
    display: block;
}
.close {
    display: none;
}
.bb {
    position: absolute;
    top: 100px;
    right: 0;

}


.bg-header { 
    background: rgba(31, 29, 43, 0.12);
    backdrop-filter: blur(22.5px);
}

.border-gradient {
    background-image: var(--border-bg),var(--border-gradinet);
    background-clip: content-box,border-box;
    background-origin: border-box;
    border: double 1px transparent;

}

.input-bg {
    background: transparent;
    color: white;
    outline: none;
}

.bg-gradient {
    background: var(--bg-gradient);
}

.img-ball {
    background-image: url(./assets/ball.png), url(./assets/background.png);
    background-position: right top , top;
    background-repeat: no-repeat;
    background-size: 700px 800px, cover;
}


.text-gradient {
    background: var(--bg-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hr-gradient {
    background: var(--bg-gradient);
    border: 0;
}

.grid-collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
 
    gap: 32px 20px;
}
/* .img-ball-collections {
    background-image: url(./assets/background.png);
    background-size: 100%;
    position: absolute;
    top: 0;

} */

.img-collections {
    position: absolute;
    top: 0;
    left: 0;
   
    z-index: -999;
    transform: scaleY(-1);
    object-fit: fill;    
    /* width: 100%; */
    /* height: 100vh; */
}

.bg-create {
    background: rgba(31, 29, 43, 0.1);
    backdrop-filter: blur(200px);
}

.footer-gradient {
    /* background: linear-gradient(to bottom right  , #2f3676 10%, #2c5f46 90%)   */

    /* background-image: url(./assets/background.png);
    background-repeat: no-repeat; */
    object-fit: cover;
    /* background-position: -70%,50%;  */

     position: absolute;
    /* top: -100px; */
    left: 0;
   
    z-index: -999;
    transform: scaleY(-1);    

    width: 100%;
    height: 100%;
    /* height: 1270px; */
} 

.play-center {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
